<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Rreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DescriptionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Chapter" android:screenOrientation="portrait" />
        <activity android:name=".Chapter2" android:screenOrientation="portrait" />
        <activity android:name=".Chapter3" android:screenOrientation="portrait" />
        <activity android:name=".Chapter4" android:screenOrientation="portrait" />
        <activity android:name=".Chapter5" android:screenOrientation="portrait" />
        <activity android:name=".Chapter6" android:screenOrientation="portrait" />
        <activity android:name=".Chapter7" android:screenOrientation="portrait"/>
        <activity android:name=".Chapter8" android:screenOrientation="portrait"/>
        <activity android:name=".Chapter9" />
        <activity android:name=".Chapter10" />
        <activity android:name=".OpenHtmlPage" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>